<!doctype html>
<html>
	<head>
		{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<base href="{{ webroot }}" >
		<link rel='stylesheet' href='Ressources/public/css/CSSReset.css' type='text/css'>
		<link rel='stylesheet' href='Ressources/public/css/Auth.css' type='text/css'>
		<title>Music Score Writer</title>
		{% endblock %}
	</head>

	<body>
		<header>
			<h1>Music Session</h1>
		</header>
		<section>
                        <div id="flashbag">{{ data.flashbag }}</div>
			<div id="lang" class="box">
				{{ data.langform.formstart | raw }}
                                {{ data.langform.lang_fr | raw }}
                                {{ data.langform.lang_en | raw }}
                                {{ data.langform.formend | raw }}
                                
			</div>
			<div>
				<div id="auth" class="box">
					<h2>Authentification</h2>
					{{ data.authform.formstart | raw }}
					{{ data.authform.pseudo | raw }}
					{{ data.authform.pwd | raw }}
					{{ data.authform.submit | raw }}
					{{ data.authform.formend | raw }}
					<a href="{{ data.forgottenpwd.url }}">{{ data.forgottenpwd.name }}</a>
				</div>

				<div id="inscription" class="box">
					<h2>Inscription</h2>
					{{ data.inscform.formstart | raw }}
					{{ data.inscform.pseudo | raw }}
					{{ data.inscform.pwdhashed | raw }}
					{{ data.inscform.firstname | raw }}
					{{ data.inscform.name | raw }}
					{{ data.inscform.email | raw }}
					{{ data.inscform.submit | raw }}
					{{ data.inscform.formend | raw }}
				</div>
			</div>
		</section>

	</body>
</html>