{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
<div id="backoffice">
	<h2>Backoffice</h2>
	<h3>{{ data.deleteusertitle | raw}}</h3>
        {{ data.deleteuserform.formstart | raw }}
        {{ data.deleteuserform.userpseudo | raw }}
        {{ data.deleteuserform.submituserpseudo | raw }}
        {{ data.deleteuserform.formend | raw }}

    <h3>{{ data.reporttitle }}</h3>
    <ul>
		{% for itemreport in data.reportlist %}
		<li class="item-news">
			<img class="profil-pic-m" src="{{ itemreport.profilephoto }}" alt="photo profil">
			<div class="profile"><a href="{{ itemreport.url }}">{{ itemreport.user }}</a></div><div class="pubdate">{{ itemreport.pubdate }}</div>
            <div class="content">{{ itemreport.content | raw}}</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
