<!doctype html>
<html>
	<head>
		{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<base href="{{ webroot }}" >
		<link rel='stylesheet' href='Ressources/public/css/CSSReset.css' type='text/css'>
		<link rel='stylesheet' href='Ressources/public/css/Auth.css' type='text/css'>
		<title>Music Score Writer</title>
		{% endblock %}
	</head>

	<body>
		<header>
			<h1>Music Score Writer</h1>
		</header>
		<section>
			<p>{{ data.message }}</p>
			<div id="lang" class="box">
				<form name="lang">
				<label for="lang">Language</label>
				<select id="lang">
					<option value="fr">French</option>
					<option value="en">English</option>
				</select>
				</form>
			</div>
			<div id="auth" class="box">
				<h2>Authentification</h2>
				{{ data.authform.formstart | raw }}
				{{ data.authform.pseudo | raw }}
				{{ data.authform.pwd | raw }}
				{{ data.authform.submit | raw }}
				{{ data.authform.formend | raw }}
				<input type="checkbox" value="1" style="display: inline;"><span>Remember of me</span>
				<a href="#">Forgotten password?</a>
			</div>

		</section>

	</body>
</html>