{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
	<div>
		<h2>{{ data.friendstitle }}</h2>
		{% for itemfriends in data.friends %}
		<div class="friends">
			<a href="{{ itemfriends.url }}"><img class="profil-pic-m" src="{{ itemfriends.profilephoto }}" alt="photo profil"></a>
			<div class="profile"><a href="{{ itemfriends.url }}">{{ itemfriends.pseudo }}</a></div>
		</div>
		{% endfor %}
	</div>
{% endblock %}