{% extends "GeneralLayoutView/SectionWithoutSongslistWidgetView.html.twig" %}

{% block head %}
	{{ parent() }}
        <script src="Ressources/public/js/MsgLoader.js"></script>
        <script src="Ressources/public/js/handlebars-v3.0.0.js"></script>
        
{% endblock %}

{% block dashboardright %}
	{{ parent() }}
	<div id="discussionlist">
		<h2>{{ data.discutitle }}</h2>
		<ul>
			{% for itemdiscu in data.discussion %}
			<li class="item-discu {{ itemdiscu.state }}">
				<img class="profil-pic-m" src="{{ itemdiscu.profilephoto }}" alt="photo profil">
				<div class="profile"><a href="{{ itemdiscu.url }}">{{ itemdiscu.pseudo }}</a></div>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block timeline %}

	<div id="msglist">
		<ul id="msg-container">
			{% for itemmsg in data.msglist %}
			<li class="item-msg">
				<img class="profil-pic-m" src="{{ itemmsg.profilephoto }}" alt="photo profil">
				<div class="profile"><a href="{{ itemmsg.url }}">{{ itemmsg.pseudo }}</a></div><div class="pubdate">{{ itemmsg.date }}</div>
				<div class="msg">{{ itemmsg.content | raw}}</div>
			</li>
			{% endfor %}
                        <script id="test-template" type="text/x-handlebars-template">
                            {% raw %}
                            <li class="item-msg">
								<img class="profil-pic-m" src="{{ profilephoto }}" alt="photo profil">
								<div class="profile"><a href="{{ url }}">{{ pseudo }}</a></div><div class="pubdate">{{ date }}</div>
								<div class="msg">{{{ content }}}</div>
							</li>
                            {% endraw %}
                        </script>
		</ul>
                
                
                <script> 
                	var pseudo = {{ data.iduser | raw}};
                	var lastmsg = {{ data.lastmsg | raw}};
                 </script>
	</div>

	<div id="sendmsg">
		{{ data.sendmsgform.formstart | raw }}
		{{ data.sendmsgform.msg | raw }}
		{{ data.sendmsgform.submitmsg | raw }}
		{{ data.sendmsgform.formend | raw }}
	</div>
{% endblock %}
