{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block head %}
    {{ parent() }}
    <script src="Ressources/public/js/Uploadfile.js"></script>
    <script src="Ressources/public/js/Newsong.js"></script>
    <script>
    $(document).ready(function() {
    	document.getElementById("submitmusiceditor").onclick = function() {
    		document.getElementsByTagName('form')[1].action = "Musiceditor/musiceditornewsong/";
    	}
    });
    </script>
{% endblock %}

{% block timeline %}
	<div id="newsong">
		<h2>{{ data.newsongtitle }}</h2>
		{{ data.importsongform.formstart | raw }}
		{{ data.importsongform.title | raw }}
		{{ data.importsongform.composer | raw }}
		{{ data.importsongform.category | raw }}
		{{ data.importsongform.addcategory | raw }}
        <div class="upload-container">{{ data.importsongform.pdf | raw }}</div>
        {{ data.musiceditornewsongform.submitmusiceditor | raw }}
		{{ data.importsongform.submitnewsong | raw }}
		{{ data.importsongform.formend | raw }}
	</div>
{% endblock %}
