{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
	<ul>
		{% for itemfriends in data.friends %}
		<li class="item-notif">
			<div class="notif">
				<div>{{ itemfriends.datefd }}</div>
				<a href="{{ itemfriends.url }}"><img class="profil-pic-m" src="{{ itemfriends.profilephoto }}" alt="photo profil"></a>
				<div>
					<div class="profile"><a href="{{ itemfriends.url }}">{{ itemfriends.pseudo }}</a></div>
					is friend with you!
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
