{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
	<ul>
		{% for itemfriends in data.friends %}
		<li class="item-notif">
			<div>{{ itemfriends.datefd }}</div>
			<span>You are friend with </span>
			<div class="profile"><a href="{{ itemfriends.url }}">{{ itemfriends.pseudo }}</a></div>
			<a href="{{ itemfriends.url }}"><img class="profil-pic" src="Ressources/public/images/{{ itemfriends.pseudo }}.png" alt="photo profil"></a>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
