{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
	<ul>
		{% for itemfriends in data.friends %}
		<li class="item-notif">
			<div class="notif">
				<div>{{ itemfriends.datefd }}</div>
				<a href="{{ itemfriends.url }}"><img class="profil-pic-m" src="{{ itemfriends.profilephoto }}" alt="photo profil"></a>
				<div>
					<div class="profile"><a href="{{ itemfriends.url }}">{{ itemfriends.pseudo }}</a></div>
					{{ itemfriends.desc }}
					{% if itemfriends.invitationurl is defined %}
					<a class="button" href="{{ itemfriends.invitationurl }}">{{ data.invitationlink | raw}}</a>
					{% endif %}
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	<div id="invite-container">
		<h3>{{ data.invitefriendtitle }}</h3>
		{{ data.invitefriendform.formstart | raw }}
		{{ data.invitefriendform.emailfriend | raw }}
		{{ data.invitefriendform.invitingmsg | raw }}
		{{ data.invitefriendform.submitinvitation | raw }}
		{{ data.invitefriendform.formend | raw }}
	</div>
{% endblock %}
