{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
	<div id="parameterspage">
        <a href="{{ data.logout.url }}" id="logout">{{ data.logout.value }}</a>
		<h2>{{ data.accounttitle }}<h2>
		<h3>{{ data.accountdesc }}</h3>
		{{ data.parametersform.formstart | raw }}
		{{ data.parametersform.pseudo | raw }}
		{{ data.parametersform.email | raw }}
		{{ data.parametersform.lang | raw }}
		{{ data.parametersform.submit | raw }}
		{{ data.parametersform.formend | raw }}
		<hr>
		<h2>{{ data.profilephototitle }}<h2>
		<h3>{{data.profilephotodesc }}</h3>
                {{ data.updatephoto.formstart | raw}}
                {{ data.updatephoto.pic | raw }}
		{{ data.updatephoto.submit | raw }}
		{{ data.updatephoto.formend | raw}}
		<hr>
		<h2>{{ data.passwordtitle }}<h2>
		<h3>{{ data.passworddesc }}</h3>
                {{ data.updatepwd.formstart | raw}}
                {{ data.updatepwd.pwd | raw }}
		{{ data.updatepwd.confirmpwd | raw }}
		{{ data.updatepwd.submit | raw }}
		{{ data.updatepwd.formend | raw}}
		<hr>
		<h2>{{ data.reportingtitle }}<h2>
		<h3>{{ data.reportingdesc }}</h3>
                {{ data.signalform.formstart | raw}}
                {{ data.signalform.signal | raw }}
		{{ data.signalform.submit | raw }}
		{{ data.updatepwd.formend | raw}}
		<hr>
		<h2>{{ data.removetitle }}<h2>
		<h3>{{ data.removedesc }}</h3>
		<a class="button" href="{{ data.deleteaccount.url }}">{{ data.deleteaccount.value }}</a>
	</div>
{% endblock %}
