{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block head %}
	{{ parent() }}
        <link rel='stylesheet' href='Ressources/public/css/TableSorter/style.css' type='text/css'>
	<script src="Ressources/public/js/jquery-2.1.3.min.js"></script>
	<script src="Ressources/public/js/jquery.tablesorter/jquery.tablesorter.js"></script>
	<script src="Ressources/public/js/tabletunes.js"></script>
{% endblock %}

{% block timeline %}
	<div id="tuneslist">
		<table id="tabletunes" class="tablesorter">
			<thead>
                            <tr>
				<th>{{ data.tunelistheader.title }}</th>
				<th>{{ data.tunelistheader.composer }}</th>
				<th>{{ data.tunelistheader.category }}</th>
				<th>{{ data.tunelistheader.date }}</th>
				<th class="{sorter: false}"></th>
                            </tr>
			</thead>
			<tbody>
				{% for itemtune in data.tunelist %}
				<tr class="{{ itemtune.class }}">
					<td>{{ itemtune.title }}</td>
					<td>{{ itemtune.composer }}</td>
					<td>{{ itemtune.category }}</td>
					<td>{{ itemtune.datetune }}</td>
					<td>
                                                <a href="{{ itemtune.urltune }}"><div class="viewtune"></div></a>
                                                <a href="{{ itemtune.addscore }}"><div class="addscore"></div></a>
                                                <a href="{{ itemtune.sharetune }}"><div class="share"></div></a>
						<a href="{{ itemtune.deleteadd.url }}"><div id="sharedel" class="{{ itemtune.deleteadd.class }}"></div></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}