{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block head %}
	{{ parent() }}
    <link rel='stylesheet' href='Ressources/public/css/TableSorter/style.css' type='text/css'>
    <!--<script src="Ressources/public/js/jquery.tablesorter/jquery-latest.js"></script>-->
	<script src="Ressources/public/js/jquery.tablesorter/jquery.tablesorter.js"></script>
	<script src="Ressources/public/js/tabletunes.js"></script>
{% endblock %}

{% block timeline %}
	<div id="tuneslist">
		<h2>{{ data.songslisttitle }}</h2>
		<table id="tabletunes" class="tablesorter">
			<thead>
                            <tr>
				<th scope="col">{{ data.tunelistheader.title }}</th>
				<th scope="col">{{ data.tunelistheader.composer }}</th>
				<th scope="col">{{ data.tunelistheader.category }}</th>
				<th scope="col">{{ data.tunelistheader.date }}</th>
				<th scope="col" class="{sorter: false}">{{ data.tunelistheader.actions }}</th>
                            </tr>
			</thead>
			<tbody>
				{% for itemtune in data.tunelist %}
				<tr class="{{ itemtune.class }}">
					<td>{{ itemtune.title }}</td>
					<td>{{ itemtune.composer }}</td>
					<td>{{ itemtune.category }}</td>
					<td>{{ itemtune.datetune }}</td>
					<td>
                        <a title="{{ data.viewicon }}" href="{{ itemtune.urltune }}"><div class="viewtune"></div></a>
                        <a title="{{ data.addicon }}" href="{{ itemtune.addscore }}"><div class="addscore"></div></a>
                        <a title="{{ data.shareicon }}" href="{{ itemtune.sharetune }}"><div class="share"></div></a>
						<a title="{{ itemtune.deleteadd.icon }}" href="{{ itemtune.deleteadd.url }}"><div id="sharedel" class="{{ itemtune.deleteadd.class }}"></div></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}