{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
	<div id="tunepage">
		<a href="{{ data.tune.url }}" target="_blank"><h2>{{ data.tune.title }}</h2></a>
		<h3>{{ data.tune.composer }}</h3>
		<h3>{{ data.tune.category }}</h3>
		<h3>{{ data.tune.datetune }}</h3>
		 <iframe src="{{ data.tune.url }}"></iframe> 
	</div>
{% endblock %}
