{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
	<div id="tunepage">
		<a href="{{ data.tune.url }}" target="_blank"><h2>{{ data.tune.title }}</h2></a>
		<h3 class="composer">{{ data.tune.composer }}</h3>
		<h3 class="category">{{ data.tune.category }}</h3>
		<h4 class="datetune">{{ data.tune.datetune }}</h4>
                {% for score in data.tune.forked %}
                    {% if score.delete != "#" %}
                    <a href="{{ score.delete }}">Delete</a>
                    {% endif %}
                <div class="datescore">{{ score.date }}</div>
                <iframe src="{{ score.pdfurl }}"></iframe> 
                {% endfor %}
	</div>
{% endblock %}
