<div id="profilCard">
	<img src="Ressources/public/images/{{ data.profilcard.pseudo }}.png" alt="photo profil" class="profil-pic">
	<a href="{{ data.profilcard.pseudourl }}"><h1>{{ data.profilcard.pseudo }}</h1></a>
	<ul>
		<li><a href="{{ data.profilcard.friendsurl }}">Friends</a></li>
		<li><a href="{{ data.profilcard.songsurl }}">Songs</a></li>
		<li><a href="{{ data.profilcard.statusurl }}">{{ data.profilcard.status }}</a></li>
	</ul>
</div>