<div id="profilCard">
	<img src="{{ data.profilcard.profilephoto }}" alt="{{ data.profilcard.pseudo }}" class="profil-pic-l">
	<a href="{{ data.profilcard.pseudourl }}"><h1>{{ data.profilcard.pseudo }}</h1></a>
	<ul>
		<li><a href="{{ data.profilcard.friendsurl }}">{{ data.profilcard.friends }}</a></li>
		<li><a href="{{ data.profilcard.songsurl }}">{{ data.profilcard.songs }}</a></li>
		<li><a href="{{ data.profilcard.statusurl }}">{{ data.profilcard.status }}</a></li>
	</ul>
</div>